
body{font-family: "Montserrat";
position: relative;
text-align: center;
}

.container-fluid{
padding: 7% 15%;
}




/* Tipo de Secciones */
.coloured-section{

}

.white-section{

}




/* ---------------------section title - Seccion Titulo---------------------*/

#title {background-color: #ff4c68; color: white;}

#title  { font-family: 'Montserrat-Black', sans-serif; font-weight: 900; font-size: 3.5rem; line-height: 1.50; text-align: left;}


.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar{
  padding: 0 0 4.5rem;
}

.nav-item{
padding: 0 0.625rem 0 0.625rem;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 500;
  text-align: right;
}

.download-button{
  margin: 5% 3% 5% 0;
}

.title-image{
  width: 60%;
  margin-left:3.5rem;
  transform:rotateZ(25deg);
  position: absolute;
   right: 20%
}

@media (max-width: 991px){
  .title-image{
    width: 60%;
    margin-left:3.5rem;
    transform:rotateZ(0);
    position: static;
  }

}




/* ---------------------section features - Seccion Prestaciones--------------------- */
#features{
   display: inline-flex;
   position: relative;
   background-color: white;
   position: relative;

  }


.feat{
  padding: 1.5rem;
  margin: 0 auto;
}

.feat h3{
  font-family: "Montserrat";
  font-weight: 600;
}

.feat p{
  color:#8f8f8f;
}


.icono{
color:#ef8172;
margin: 0.625rem auto 0.9375rem;
}

.icono:hover{
  color:#ff4c68;
}




/* ---------------------section testimonials - Seccion Testimonios--------------------- */

#testimonials{
  font-family: Montserrat;
  font-size: 1.875;
  background-color: #ef8172;
  color:#ffff;
}
#testimonials h2{
  font-weight: bold;
  font-size: 2.8rem;
}


.testiImg{
  border-radius: 100%;
  width: 9.375rem;
  margin-right: 1.875rem;

}




/* ---------------------section press - Seccion prensa--------------------- */

#press{
  background-color: #ef8172;
  padding-bottom: 1.875rem;
}

.pressLogo{
  width:15%;
  margin: 1.25rem 1.25rem 3.125rem 1.25rem
}




/* ---------------------section Pricing - Seccion Precios ---------------------*/
#pricing{
  padding: 6.25%;
}

price-card{
  margin: 3% 5%;
}
#pricing h2{ font-size: 3rem; font-weight: 600;}

#pricing h3{font-size: 1.5rem;}

#pricing p{font-size: 1rem;
line-height: 1.5;}



/* section cta */
#cta {
  background-color: #ff4c68;
  padding: 6% 6.25% 4% 6.25%;

}

#cta h3{
  font-family: "Montserrat";
  font-weight: bold;
  color:white;
  font-size: 3.5rem;
}




/* section footer - Seccion Pie de pagina*/
#footer{
  padding: 7% 15%;
  color: grey;

}
.redes{
  display: inline;
  margin-bottom: 20px;
}

.iconred{
  padding: 5px;
  width: 60px;
}

.derechos{
  padding: 20px;
}

.contactus{
  padding: 10px;
}
